@model PizzaProjectAlt.Controllers.AccountController
@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Profile</h2>
@if (Request.IsAuthenticated)
{
    <img src="@ViewBag.ProfilePicture" alt="@ViewBag.FirstName" style="height:100px;" /> <br />
    @ViewBag.FirstName <br />
    @ViewBag.LastName <br />
    @ViewBag.Location <br />
    @ViewBag.FavoritePizzaria <br />
    @ViewBag.PizzaEatingStyle <br />
}
else if (!Request.IsAuthenticated)
{
    <p>You are not logged in.</p>
}
