@model PizzaProjectAlt.Controllers.AccountController
@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Your Profile</h2>
@if (Request.IsAuthenticated)
{
    <center><img src="@ViewBag.ProfilePicture" alt="@ViewBag.FirstName" style="height:100px;" /></center>
    <div class="row">
        
            <div style="float:left; margin-left:40%">
                <span class="label label-danger">Name</span><p>@ViewBag.FirstName @ViewBag.LastName</p>
                <span class="label label-danger">Location</span><p>@ViewBag.Location</p>
            </div>
        
            <div style="float:right; margin-right:40%">
                <span class="label label-danger">Favorite Pizza Place</span><p>@ViewBag.FavoritePizzaria</p>
                <span class="label label-danger">Pizza Eating Style</span><p>@ViewBag.PizzaEatingStyle</p>
            </div>
    </div>
    
    <br />
    @*@ViewBag.Location <br />
    @ViewBag.FavoritePizzaria <br />
    @ViewBag.PizzaEatingStyle <br />*@

    <center><a href="/Account/Edit" class="btn btn-primary">Edit Your Profile</a></center>
}
else if (!Request.IsAuthenticated)
{
    <p>You are not logged in.</p>
}
