
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<div class="form-group">
    @Html.Label("Pepperoni", new { @class = "col-sm-offset-1 col-sm-1 control-label" })
    <div class="col-sm-1">
        @Html.CheckBoxFor(x => x.Pepperoni)
    </div>
    @Html.Label("Cheese", new { @class = "col-sm-offset-1 col-sm-1 control-label" })
    <div class="col-sm-1">
        @Html.CheckBoxFor(x => x.Cheese)
    </div>
    @Html.Label("Sausage", new { @class = "col-sm-offset-1 col-sm-1 control-label" })
    <div class="col-sm-1">
        @Html.CheckBoxFor(x => x.Sausage)
    </div>
    @Html.Label("Green Peppers", new { @class = "col-sm-offset-1 col-sm-1 control-label" })
    <div class="col-sm-1">
        @Html.CheckBoxFor(x => x.GreenPeppers)
    </div>
    @Html.Label("Black Olives", new { @class = "col-sm-offset-1 col-sm-1 control-label" })
    <div class="col-sm-1">
        @Html.CheckBoxFor(x => x.BlackOlives)
    </div>
    @Html.Label("Ham", new { @class = "col-sm-offset-1 col-sm-1 control-label" })
    <div class="col-sm-1">
        @Html.CheckBoxFor(x => x.Ham)
    </div>
    @Html.Label("Pineapple", new { @class = "col-sm-offset-1 col-sm-1 control-label" })
    <div class="col-sm-1">
        @Html.CheckBoxFor(x => x.Pineapple)
    </div>
</div>*@




