@model PizzaProjectAlt.Models.Pizza

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pizza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userID)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.pizzaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pizzaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doughType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doughType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sauceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sauceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cheeseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cheeseType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toppingOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toppingOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toppingTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toppingTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toppingThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toppingThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toppingFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toppingFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toppingFive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toppingFive)
        </dd>

    </dl>
</div>
<p>
    <!--@Html.ActionLink("Edit", "Edit", new { id = Model.pizzaID }) |-->
    @Html.ActionLink("Back to List", "Index")
</p>
