@model IEnumerable<PizzaProjectAlt.Models.Pizza>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            
            @Html.DisplayNameFor(model => model.userID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pizzaName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.bacon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bpeppers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.blackOlives)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cheese)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chicken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dough)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gpeppers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pepperoni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pineapple)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sauce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sausage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spinnach)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pizzaName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.bacon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bpeppers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.blackOlives)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cheese)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chicken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dough)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gpeppers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pepperoni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pineapple)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sauce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sausage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spinnach)
        </td>*@
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.pizzaID }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.pizzaID }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.pizzaID })*@
        </td>
    </tr>
}

</table>
