@model IEnumerable<PizzaProjectAlt.Models.Pizza>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pizzaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doughType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sauceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cheeseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toppingOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toppingTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toppingThree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toppingFour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toppingFive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pizzaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doughType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sauceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cheeseType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.toppingOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.toppingTwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.toppingThree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.toppingFour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.toppingFive)
        </td>
        <td>

            @Html.ActionLink("Details", "Details", new { id = item.pizzaID })

            <!--@Html.ActionLink("Edit", "Edit", new { id=item.pizzaID }) |
           
            @Html.ActionLink("Delete", "Delete", new { id=item.pizzaID })-->
        </td>
    </tr>
}

</table>
